In [28]:
import pandas as pd
import os
from ast import literal_eval

In [29]:
os.getcwd()

'/home/tomoswynroberts/reedsy-challenge-data'

In [30]:
# adding literal_eval conversion to the concatenated column to read as list
reedsy_df = pd.read_csv("data/dataset.tsv", sep = '\t' \
                        ,converters = {'popup_version|start_date|popup_category': literal_eval})

In [32]:
reedsy_df.head(3)

,popup_name,blog_post_url,popup_version|start_date|popup_category,popup_header,popup_description,popup_image_url,popup_title,views,registrations
0,Author Bio Template 2 (New Style),https://blog.bookly.com/about-the-author-examp...,"[A, 2020-05-01, Perfecting your Craft]",\nFREE: Author Bio Template,Download a copy and write your bio in under 5 ...,https://d2ybmm5cpznb3i.cloudfront.net/wp-conte...,About the Author Examples (That You'll Actuall...,1554,70
1,Author Bio Template 2 (New Style),https://blog.bookly.com/about-the-author-examp...,"[A, 2020-06-05, Perfecting your Craft]",\nFREE: Author Bio Template,Download a copy and write your bio in under 5 ...,https://d2ybmm5cpznb3i.cloudfront.net/wp-conte...,About the Author Examples (That You'll Actuall...,2667,126
2,Author Bio Template 2 (New Style),https://blog.bookly.com/about-the-author-examp...,"[A, 2020-05-01, Perfecting your Craft]",\nFREE: Author Bio Template,Download a copy and write your bio in under 5 ...,https://d2ybmm5cpznb3i.cloudfront.net/wp-conte...,About the Author Examples (That You'll Actuall...,35,0

In [33]:
reedsy_df.shape

(2063, 9)

In [34]:
reedsy_df.columns

Index(['popup_name', 'blog_post_url',
       'popup_version|start_date|popup_category', 'popup_header',
       'popup_description', 'popup_image_url', 'popup_title', 'views',
       'registrations'],
      dtype='object')

In [35]:
reedsy_df.dtypes

popup_name                                 object
blog_post_url                              object
popup_version|start_date|popup_category    object
popup_header                               object
popup_description                          object
popup_image_url                            object
popup_title                                object
views                                       int64
registrations                               int64
dtype: object

In [36]:
reedsy_df.describe()

              views  registrations
count   2063.000000    2063.000000
mean    1285.441590      22.991760
std     3486.148325     144.024029
min       21.000000       0.000000
25%       21.000000       0.000000
50%       91.000000       0.000000
75%      994.000000      21.000000
max    45101.000000    5397.000000

In [48]:
 reedsy_df.isnull().sum().sum()

0

In [37]:
## Check concatenated column
print(reedsy_df["popup_version|start_date|popup_category"][0])
print(reedsy_df["popup_version|start_date|popup_category"][3])

['A', '2020-05-01', 'Perfecting your Craft']
['', '2020-05-27', 'Book Marketing, Understanding Publishing']

In [38]:
## Split column:
reedsy_df[["popup_version", "start_date" , "popup_category"]] = \
pd.DataFrame(reedsy_df["popup_version|start_date|popup_category"].tolist(), index = reedsy_df.index)

In [43]:
reedsy_df.shape

(2063, 12)

In [39]:
## Different approach to splitting without literal approach
reedsy_df_1 = pd.read_csv("data/dataset.tsv", sep = '\t')

In [40]:
reedsy_df_1["popup_version|start_date|popup_category"] = \
reedsy_df_1["popup_version|start_date|popup_category"].apply(lambda x:x[2:-2].split('","'))

In [41]:
reedsy_df_1[["popup_version", "start_date" , "popup_category"]] = \
pd.DataFrame(reedsy_df_1["popup_version|start_date|popup_category"].tolist(), index = reedsy_df_1.index)

In [42]:
reedsy_df_1.shape

(2063, 12)

In [98]:
## Calculate conversion rates for popup versions#

## sum views and registrations
reedsy_popup = reedsy_df.groupby('popup_version', as_index = False).agg({'views':sum, 'registrations':sum})

## calculate conversion rate
reedsy_popup["conversion_rate"] = reedsy_popup.registrations / reedsy_popup.views

In [101]:
## remove the null popup versions
reedsy_popup = reedsy_popup.loc[reedsy_popup.popup_version != ''].copy()

In [102]:
reedsy_popup.style.format({
    "views": "{:,}",
    "registrations": "{:,}",
    "conversion_rate": "{:.2%}"
}).hide(axis="index")

Popup A was more performant